/**
 * Represents an error caused by an api call i.e. it has attributes for a HTTP status code 
 * and the returned body object.
 *
 * Example
 * API returns a ErrorMessageObject whenever HTTP status code is not in [200, 299]
 * => ApiException(404, someErrorMessageObject)
 *
 */
export class ApiException implements HTTPError {
  public status: number;
  public message: string;
  public constructor(public code: number, public body: string) {
        this.status = code;
        this.message = body;
  }
}
export interface HTTPError {
  status: number,
  message: string
}